.app.dark {
    --bg-color: rgb(8, 8, 90);
    --inverted-bg-color: #e8e8ea;

    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #102b7a;
    --inverted-secondary-color: #0449e0;
}