.app.dark {
    --bg-color: rgb(8 8 90);
    --inverted-bg-color: #e8e8ea;
    --primary-color: #065b61;
    --secondary-color: #3bacc0;
    --inverted-primary-color: #102b7a;
    --inverted-secondary-color: #0449e0;
}
