.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color:  rgb(8, 8, 90);

    --primary-color: #102b7a;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}